/* Base */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --Laranja: #FF9900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin-bottom: 0.5em;
  }

/* Color change class e DarkMode */
.hide{
  visibility: hidden;
}

body.dark {
  background-color: #252525;
}

body.dark .foodlink-text,
body.dark .servicos-card-text p:last-child,
body.dark .mapa-text,
body.dark .contribuicao-panel p,
body.dark .atuacao-text,
body.dark .contribuicao-text {
  color: #fff;
}

body.dark .servicos-card,
body.dark .sobre-card {
  background: #242424;
  box-shadow: #3b3b3bc9;
}

/* Inicio header */
/* Inicio navbar */

header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  margin: 0;
  display: flex;
  align-items: center !important;
  justify-content: space-around;
  text-align: center;
  background-color: #a4a3a3d8;
  width: 100%;
  opacity: 100%;
  z-index: 2;
}

.navbar-logo {
  width: 4.5%;
}

.nav-links {
  position: relative;
  margin: 0;
  display: flex;
}

.nav-links li {
  padding: 0px 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: #FF9900;
}

.loginBar{
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #a4a3a3;
  left: 59%;
  top: 2.5em;
  width: 220px;
  max-height: 0px;
  border-radius: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  transform: translate(-50%);
}
.abreNav {
  max-height: 240px;
}

.loginBar a {
  font-weight: 400;
}
.loginBar a:hover {
  transition: all 0.3s ease 0s;
  color: #FF9900;
}
.innerLoginBar{
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-top: 1em;
  padding-bottom: 4em;
}
.outerLoginBar{
  padding-bottom: 1em;
}
.underline-loginBar{
  height: 0px;
  width: 100%;
  margin-bottom: 0.5em;
  border: 1px solid #000000;
}
.innerLoginBar a{
  padding-bottom: 0.5em;
}
#toggle_checkbox{
  display: none;
}

.darkmode
{
  display: block;
  position: absolute;
  top: 50%;
  left: -20%;
  width: 74px;
  height: 34px;
  background-color: #fff;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s ease background-color;
  overflow: hidden;
}

#sun
{
  position: absolute;
  top: 7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-color: #000;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease transform, 0.5s ease background-color;
  z-index: 1;
}

#moon
{
  position: absolute;
  bottom: -22px;
  right: 7px;
  width: 30px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s ease bottom;
}

#moon:before
{
  content: "";
  position: absolute;
  top: -12px;
  left: -13px;
  width: 32px;
  height: 39px;
  background-color:#fff;
  border-radius: 50%;
  transition: 0.5s ease background-color;
}

#toggle_checkbox:checked + label
{
  background-color: #000;
}

#toggle_checkbox:checked + label #sun
{
  top: 3px;
  left: 43px;
  transform: scale(0);
  background-color: black;
}

#toggle_checkbox:checked + label #moon
{
  bottom: 4px;
}

#toggle_checkbox:checked + label #moon:before
{
  background-color: #000;
}
/* Fim navbar */
.relogio-tamanho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.clock {
  align-items: center;
  border-radius: 3%;
  color: #fff;
  text-shadow: 3px 3px black;
  display: flex;
  font-size: 3em;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.date{
  font-size: 1em;
  color: #fff;
  text-shadow: 3px 3px black;
}

.header-text {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text p:first-child {
  font-weight: 800;
  font-size: 3em;
  color: #fff;
  margin: 0;
  text-shadow: 3px 3px black;
}

.underline-header {
  width: 350px;
  height: 0px;
  margin-bottom: 0.5em;
  border: 2px solid #fff;
  box-shadow: 3px 3px black;
}

.header-text p:nth-child(2) {
  font-weight: 800;
  font-size: 1.7em;
  color: #fff;
  text-shadow: 3px 3px black;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}
.carousel-indicators{

  z-index: 1;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* Fim header */

/* Inicio foodlink */
.foodlink-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.foodlink-title{
  font-size: 4.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
}

.foodlink-text{
  width: 60%;
  text-align: center;
  color: #000000;
  font-size: 2em;
  flex-basis: 50%;
  padding-bottom: 6em;
}
/* Fim foodlink */

/* Inicio mapa da fome */
.mapa-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mapa-title {
  font-size: 4.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
}

.mapa-text {
  width: 60%;
  text-align: center;
  color: #000000;
  font-size: 1.8em;
  flex-basis: 48%;
  padding: 1em;
}

.mapa-image {
  padding: 2em 0 0 0;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
}

.mapa-image img {
  width: 70%;
}

.mapa2-image {
  justify-content: center;
  display: flex;
  flex-basis: 100%;
}

.mapa2-image img {
  width: 70%;
}

/* Fim mapa da fome */

/* Inicio atuacao */
.atuacao-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 3.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.atuacao-text{
  text-align: center;
}

.atuacao-title{
  font-size: 4.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
  padding-bottom: 1em;
}

#lugar {
  font-weight: 800;
}

.atuacao-info :nth-child(4){
  font-weight: 800;
}

.radioAtuacao input {
  display: none;
}

.radioAtuacao {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  color: #757373;
  width: 500px;
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-bottom: 2em;
}

.radioAtuacao label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 19px;
}

.selecionado {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(500px / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radioAtuacao label:has(input:checked) {
  color: #fff;
}

.radioAtuacao label:has(input:checked) ~ .selecionado {
  background-color: #FF9900;
  display: inline-block;
}

.radioAtuacao label:nth-child(1):has(input:checked) ~ .selecionado {
  transform: translateX(calc(500px * 0/2));
}

.radioAtuacao label:nth-child(2):has(input:checked) ~ .selecionado {
  transform: translateX(calc(500px * 1/2));
}

.atuacao-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0;
}
.atuacao-image img{
  align-items: center;
  max-width: 90%;
  margin: 0;
}
.atuacao-text{
  max-width: 50%;
  text-align: center;
  color: #000000;
  font-size: 1.2em;
  padding: 1em;
  box-shadow: 1px 1px 30px #0000005b;
  border-radius: 1em;
}

.atuacao-text p:nth-child(-n + 3){
    text-align: center;
}

.atuacao-button {
    position: relative;
    background-color: #D9D9D9;
    border: none;
    height: 50px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    color: #757373;
    font-size: 0.7em;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 2em;
}

.atuacao-button:hover{
   background:#FF9900;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#fff;
}

.atuacao-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/* Fim atuacao */

/* Inicio contribuicao */
.contribuicao-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contribuicao-title{
  font-size: 4.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
}

.contribuicao-text{
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 1.4em;
  padding: 4em;
  flex-basis: 35%;
}

.contribuicao-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  max-width: 700px;
  max-height: 400px;
  text-align: center;
  color: #000000;
  font-size: 1.2em;
  padding: 1em;
  box-shadow: 1px 1px 30px #0000005b;
  border-radius: 1em;
  margin: 2em;
}

.contribuicao-panel p{
  padding: 1.5em;
}

.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  color: #757373;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 19px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: #FF9900;
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/3));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/3));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/3));
}

.contribuicao-button-confirmation {
  position: relative;
  background-color: #D9D9D9;
  border: none;
  height: 40px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  color: #757373;
  font-size: 1em;
  font-weight: 700;
  border-radius: 2em;
}

.contribuicao-button-confirmation:hover{
 background:#FF9900;
 box-shadow:0px 2px 10px 5px #97B1BF;
 color:#fff;
}

.contribuicao-button-confirmation:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/* Fim contribuicao */

/* Inicio Contato */
.contato-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 25em;
}
.innerContato-container{
  position: relative;
}

#contato{
  width: 100%;
  padding-top: 7em;
}

.contato-header {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contato-header p:first-child {
  font-weight: 800;
  font-size: 4em;
  color: #fff;
  text-shadow: 3px 3px black;
}

.underline-contato-header {
  width: 725px;
  height: 0px;
  border: 2px solid #fff;
  box-shadow: 2px 2px black;
}

.contato-header p:nth-child(2) {
  font-weight: 800;
  font-size: 1.4em;
  color: #fff;
  text-shadow: 2px 2px black;
}

.cards {
  display: flex;
  position: absolute;
  left: 50%;
  top: 130%;
  gap: 7em;
  transform: translate(-50%, -50%);
}

.sobre-card {
  width: 367px;
  height: 400px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
  flex-wrap: wrap;
}

.sobre-img {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}

.sobre-img img {
  width: 20%;
}

.card-text {
  text-align: center;
  color: #706F6F;
  font-size: 1em;
  display: inline-block;
}

.card-text p:first-child {
  font-size: 1.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
}

.button-card {
  position: relative;
  background-color: #D9D9D9;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  color: #757373;
  font-size: 1em;
  font-weight: 700;
  border-radius: 2em;
}

.button-card:hover {
  background: #FF9900;
  box-shadow: 0px 2px 10px 5px #97B1BF;
  color: #fff;
}

.button-card:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Fim contato */

/* Inicio rodape */
.footer {
  width: 100%;
  margin: 0;
  background-color: #555555;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer img {
  max-width: 8%;
  align-items: center;
  justify-content: center;
}

footer img:nth-child(4) {
  max-width: 6%;
}

/* Fim rodape */