/* Base */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --Laranja: #FF9900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

p {
  margin-bottom: 0.3em;
}

/* Color change class -- alterar para melhor funcionamento*/
.darkMode {
  color: #fff;
  background-color: black;
}

.whiteMode {
  color: black;
  background-color: #fff;
}

/* Inicio header */
/* Inicio navbar */

header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  margin: 0;
  display: flex;
  align-items: center !important;
  justify-content: space-around;
  text-align: center;
  background-color: #A4A3A3;
  width: 100%;
  opacity: 100%;
  z-index: 2;
}

.navbar-logo {
  width: 4.5%;
}

.nav-links {
  position: relative;
  margin: 0;
  display: flex;
}

.nav-links li {
  padding: 0px 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: #FF9900;
}
.loginBar{
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);
}
/* Fim navbar */
.header-text {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text p:first-child {
  font-weight: 800;
  font-size: 4em;
  color: #fff;
  margin: 0;
  text-shadow: 3px 3px black;
}

.underline-header {
  width: 350px;
  height: 0px;
  margin-bottom: 0.5em;
  border: 2px solid #fff;
  box-shadow: 3px 3px black;
}

.header-text p:last-child {
  font-weight: 800;
  font-size: 1.7em;
  color: #fff;
  text-shadow: 3px 3px black;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}
.carousel-indicators{

  z-index: 1;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* Fim header */

/* Inicio home */
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
  margin: 0 auto;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  padding: 0 2em;
}

.home-text p:first-child {
  font-size: 2.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
}

.home-image{
  padding: 2em 2em;
  max-width: 30%;
  max-height: 30%;
}
.butao{
  background-color:#D9D9D9;
  padding: 20px;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #757373;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 50px;
}

.butao:hover {
  background: #FF9900;
  box-shadow: 0px 2px 10px 5px #97B1BF;
  color: #fff;
}

/* Fim home */

/* Inicio Serviços */
.servicos-container {
  margin: 0 auto;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
}

.servicos-title {
  font-size: 3.2em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  text-align: center;
}
.innerServicos-container{
  display: flex;
  justify-content: space-around;
}
.servicos-image {
  align-items: center;
  justify-content: center;
  display: flex;
}

.servicos-image img {
  max-width: 70%;
  max-height: 70%;
  box-shadow: -25px 25px 1px #FF9900;
  border-radius: 20px;
}

.servicos-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

.servicos-card {
  background-color: #e0e0e0;
  padding: 20px;
}

.servicos-card:nth-child(-n+2) {
  grid-row: 1;
}

.servicos-card:nth-child(n+3) {
  grid-row: 2;
}

.servicos-card {
  width: 287px;
  height: 285px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
  flex-wrap: wrap;
}

.servicos-card-text {
  text-align: center;
  color: #706F6F;
  font-size: 1em;
  display: inline-block;
}

.servicos-card-text p:first-child {
  font-size: 1.2em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 0.5px 0.5px black;
}

.servicos-text p:first-child {
  font-size: 2.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
}
/* Fim Serviços */

/* Inicio Impactos */
.impactos-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.impactos-title {
  font-size: 3.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
}

.impactos-text {
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  padding: 2em;
  flex-basis: 35%;
}

.impactos-image {
  padding: 2em 0 0 0;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
}

.impactos-image img {
  width: 80%;
  box-shadow: 25px 25px 1px #FF9900;
  border-radius: 20px;
}

/* Fim impactos */

/* Inicio sobre-nos */
.sobre-container {
  min-height: 60vh;
  margin: 0 auto;
  padding-top: 7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sobre-title {
  font-size: 3.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
}

.sobre-text {
  width: 60%;
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  padding: 1em;
  flex-basis: 38%;
}

.sobre-image {
  padding: 2em 0 0 0;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
}

.sobre-image img {
  max-width: 70%;
  box-shadow: -25px 25px 1px #FF9900;
  border-radius: 20px;
}

/* Fim sobre-nos */

/* Inicio Equipe */

.equipe-container {
  width: auto;
  height: 89vh;
  margin: 0 auto;
}

.equipe-title {
  font-size: 4em;
  text-align: center;
  color: #FF9900;
  font-weight: bold;
  padding-top: 2em;
  text-shadow: 2px 2px black;
}

.equipe-section {
  display: flex;
  min-height: 75%;
  align-items: center;
  justify-content: center;
}

.equipe-card-container {
  display: flex;
  gap: 1.875em;
  width: 100%;
  justify-content: center;
}

.equipe-card {
  position: relative;
  list-style: none;
  width: 13.75em;
  transition: .3s ease;
}

.equipe-card::before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.equipe-card-background {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 1.25em;
  background-size: 21.875em;
  background-position: center;
  filter: brightness(.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: scale(1) translateZ(0);
  transition: .3s ease;
}

.equipe-card:hover .equipe-card-background {
  transform: scale(1.15) translateZ(0);
  background-size: 16.25em;
}

.equipe-card-container:hover .equipe-equipe-card:not(:hover) {
  transform: scale(.9);
}

.equipe-card-container:hover>.equipe-card:not(:hover) .equipe-card-background,
.equipe-card-container:hover>.equipe-card:not(:hover) .equipe-card-category {
  filter: brightness(.5) saturate(0) contrast(1.2) blur(1.25em);
}

.equipe-content {
  top: 50%;
  left: 0;
  padding: 1.5625em;
  position: absolute;
}

.equipe-card-category {
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.3125em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.equipe-card-heading {
  color: #ffffff;
  font-size: 1.5625em;
  line-height: 1;
  text-shadow: 0.125em 0.125em 1.25em rgba(0, 0, 0, .2);
}

/* Fim Equipe */

/* Inicio Contato */
.contato-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 25em;
}
.innerContato-container{
  position: relative;
}

#contato{
  width: 100%;
  padding-top: 7em;
}

.contato-header {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contato-header p:first-child {
  font-weight: 800;
  font-size: 4em;
  color: #fff;
  text-shadow: 3px 3px black;
}

.underline-contato-header {
  width: 950px;
  height: 0px;
  border: 2px solid #fff;
  box-shadow: 2px 2px black;
}

.contato-header p:nth-child(2) {
  font-weight: 800;
  font-size: 1.4em;
  color: #fff;
  text-shadow: 2px 2px black;
}

.cards {
  display: flex;
  position: absolute;
  left: 50%;
  top: 130%;
  gap: 7em;
  transform: translate(-50%, -50%);
}

.sobre-card {
  width: 367px;
  height: 400px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 15px 15px 30px #bebebe;
  display: flex;
  justify-content: center;
  padding: 1em 0 0 0;
  flex-wrap: wrap;
}

.sobre-img {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}

.sobre-img img {
  width: 20%;
}

.card-text {
  text-align: center;
  color: #706F6F;
  font-size: 1em;
  display: inline-block;
}

.card-text p:first-child {
  font-size: 1.5em;
  font-weight: 800;
  color: #FF9900;
  text-shadow: 2px 2px black;
}

.button-card {
  position: relative;
  background-color: #D9D9D9;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  color: #757373;
  font-size: 1em;
  font-weight: 700;
  border-radius: 2em;
}

.button-card:hover {
  background: #FF9900;
  box-shadow: 0px 2px 10px 5px #97B1BF;
  color: #fff;
}

.button-card:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Fim contato */

/* Inicio rodape */
footer {
  width: 100%;
  height: 104px;
  background-color: #555555;
}

/* Fim rodape */